.Search{
    position: relative;
}


.SearchBar{
    border:none;
    width: 51%;
    text-align: left;
    padding: 20px;
    height: 27px;
    background-color:#E0E5EC;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
    border-radius: 25px;
    font-size: 23px;
    text-indent:30px;
    z-index: 100;
    /* margin-top: 10px; */
}
button{
    background-color:#E0E5EC;
    border:none;
    border-radius: 25px;
    height: 20px;
    outline: none;
    cursor: pointer;
}
.SearchBar{
    outline: none;
}
.placeholder    {
    position: absolute;
    top: 20px;
    left: 590px;
    color: rgb(114, 107, 107);
    /* margin-top: 10px; */
}

@media(max-width:500px){
    .SearchBar{
        border:none;
        width: 60%;
        text-align: left;
        padding: 15px;
        height: 20px;
        background-color:#E0E5EC;
        box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
        border-radius: 25px;
        font-size: 15px;
        text-indent:10px;
        margin-top: 30px;
        
        
    }
    .placeholder    {
        position: absolute;
        top: 10px;
        left: 70%;
        color: rgb(114, 107, 107);
        margin-top: 30px;
    }
}
