table{
    width: 50%;
    column-count: 5;
    column-gap: 20px;
    margin-left: 3% ;
    margin-top: 10%;
    border: 1px solid #eee;
    box-sizing: border-box;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
    border-radius:4px;
}
abbr{
    padding: 10px;
}
td{

padding: 10px;
text-align: center;

cursor: pointer;
border-radius:4px;
background-color:#E0E5EC;


}
td:hover,
td:active {
    background-color: #C0DDF5;
}
.Deaths{
    color:#E12D48;
    font-size: 15px;
    font-weight: bold;
}
.Recovered{
    color:rgb(16, 165, 16);
    font-size: 15px;
    font-weight: bold;
}
.Active{
    color: #175AF3;
    font-size: 15px;
    font-weight: bold;
}
.Confirmed{
    font-size: 15px;
    font-weight: bold;
}
.States{
    font-weight: bold;
    font-size: 15px;
    width: 30%;
    
}
@media(max-width:500px){
    table{
        width: 10%;
        margin-left: -20px ;
        margin-top: 20px;
    }
}
thead{
    border-bottom: 1px solid black;
}
