table{
    width: 50%;
    column-count: 5;
    column-gap: 20px;
    margin-left: 8% ;
    margin-top: 30%;
    border: 1px solid #eee;
    box-sizing: border-box;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
    border-radius:4px;
    border: 1px solid rgb(187, 185, 185);
}

th{
    padding: 10px;  
}
tbody{
    border-top:1px solid black;
}


td{

padding: 10px;
text-align: center;

cursor: pointer;
border-radius:4px;
background-color:#E0E5EC;


}
td:hover,
td:active {
    background-color: #C0DDF5;
}
.Deaths{
    color:#E12D48;
    font-size: 15px;
    font-weight: bold;
}
.Recovered{
    color:rgb(16, 165, 16);
    font-size: 15px;
    font-weight: bold;
}
.Active{
    color: #175AF3;
    font-size: 15px;
    font-weight: bold;
}
.Confirmed{
    font-size: 15px;
    font-weight: bold;
}
.States{
    font-weight: bold;
    font-size: 15px;
    width: 30%;
    
}


@media(max-width:500px){
    .table{
        border: 1px solid rgb(187, 185, 185);
        margin-left: 0px ;
        margin-top: 20px;
        overflow: scroll;
        
    }
    table{
        margin-left: 0px;
        margin-top: 0px;
    }
    th{
        padding: 5px;
    }

}

