body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   
  }
  
  .topnav {
      width: 100%   ;
    overflow: hidden;
    
    background-color:rgba(24, 23, 23, 0.973);
    border:1px solid rgba(91, 118, 158, 0.6);
    box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.438), -9px -9px 16px    rgba(180, 170, 170, 0.5);
   
  }
  .Faq{
    margin-left:60%;
    
  }
  .suggestions{
      margin-left: 5%;
  }
  .about{
    margin-left: 5%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #E0E5EC;
 
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav button.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
      
    .topnav.responsive {position:relative; }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .Faq{
        margin-left: 0%;
    }
    .suggestions{
        margin-left: 0%;
    }
    .about{
        margin-left: 0%;
    }

  }