
.searchResult{
    margin-left: 0px;
}
.searchResultBox{
    margin-top: 20px;
    margin-left: -30px;
}
@media(max-width:500px){
    .SearchResult{
        margin-left: -10%;
    }
}

/* table td {border:solid 1px #fab; width:100px; word-wrap:break-word;} */