body{
  text-align: center;
}
.App {
  text-align: center;
}
.Content{
  display:flex;
 

}
.Total{
  text-align: center;
  justify-content: center;
  align-content: center;
  color: #E12D48;
  
}
.Posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}

@media(max-width:500px){
  .Content{
    display: grid;
  }
}
