body{
  text-align: center;
  margin-bottom: 100px;
}
.App {
  text-align: center;
}
.Content{
  display:flex;
 

}
.Total{
  text-align: center;
  justify-content: center;
  align-content: center;
  color: #E12D48;
  
}


@media(max-width:500px){
  .Content{
    display: grid;
  }
}
